
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v18-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2'); 
  }



