* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: rgb(220, 216, 212);
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(118, 115, 115, 0.2);
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: background 0.3s ease-in-out;
}
 .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c2ae7ae8;
    opacity: 20%; 
    z-index: -1; 
} 

header.scrolled, 
header.menu-open {
    background: #c2ad7ae6; 
}
.logo {
    font-size: 20px;
    font-weight: bold;
    color: #f8f8f8;
    letter-spacing: 5px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px;
    display: block;
}

.menu {
    display: flex;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        font-size: 1.3rem;
        background: #c2ad7ae6;
        padding: 20px 0;
        gap: 10px;
        width: 100%;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px); 
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s linear 0.3s;
    }
    .menu.show {
        display: flex;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);

    }
    .hamburger {
        display: flex;
    }
}

.hero {
    position: relative;
    background: url('../img/croissant.webp') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.hero-content {
    position: relative;
    max-width: 700px;
    margin-top: 20px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background: #708e54;
    color: #f8f8f8;
    padding: 15px 25px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 50%;
    font-weight: bold;

}

.cta-button:hover {
    background: #47761d;
}

#welcome {
    text-align: center;
    padding: 50px 20px;
    background: url(../img/bg_img.webp);
    
}

#welcome h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

#welcome p {
    color: #666;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
}

.products {
    text-align: center;
    padding: 50px 20px;
    background: rgb(220, 216, 212);
    background-image: url(../img/school_bg.webp);
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;
}


.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: stretch;
}

.product-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    width: 350px;
    justify-content: space-between;
}
.products h3 {
    font-size: 1.2rem;
    margin: 15px 0;
    letter-spacing: 1px;
}

.products p {
    color: #434141;
    font-size: 1rem;
}

.product-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


.info-btn {
    background: #708e54;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}

.info-btn:hover {
    background: #47761d;
}

.slider-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    height: 800px;
    background: rgb(220, 216, 212);
    background-image: url(../img/lessons_teacher_bg.webp);
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
}

.slider-text {
    max-width: 50%;
}

.slider-text h2 {
    padding-bottom: 20px;
}

.slider-text p {
    padding-top: 10px;
    color: #434141;
}
.slider-container {
    position: relative;
    width: 500px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 400px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: rgba(88, 87, 87, 0.5);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background: rgba(84, 83, 83, 0.8);
}
@media (max-width: 1024px) {
    .slider-container {
        width: 65%; 
        height: auto; 
    }

    .slider-btn {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .slider-container {
        width: 100%;
        height: auto;
    }
    .slider-track {
         
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-280px);
            }
        }
        
        .element {
            animation: slide 1s ease-in-out forwards;
        
    }

    .slider-btn {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .slider-container {
        height: auto; 
        width: 60%;
    }
    .slider-text {
        width: 50%;
    }
    .slider-btn {
        width: 15px;
        height: 15px;
        font-size: 12px;
    }
}

.hamburger {
    position: absolute;
    right: 20px;
    z-index: 1000;
}

#blckq {
    text-align: center;
    padding: 50px 20px;
    color: #666;
    margin: 0 auto;
    font-size: 1.1rem;
    background: rgb(220, 216, 212);
}

#learn {
    text-align: center;
    padding: 50px 20px;
    color: #666;
    margin: 0 auto;
    font-size: 1.1rem;
    background-color: rgb(220, 216, 212);
    background-image: url(../img/bg_img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
    #learn h2 {
        color: black;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #online {
        text-align: center;
        padding: 50px 20px;
        background: url(../img/lessons_teacher_bg.webp);
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: top;
    }
    
    #online h2 {
        font-size: 2rem;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    
    #online p {
        color: #666;
        max-width: 800px;
        margin: 0 auto;
        font-size: 1.1rem;
    }
    #online .container {
        max-width: 900px;
        margin: 0 auto;
    }
    .icon-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 30px; 
        justify-content: center;
        padding: 40px;
    }
    
    .card-icon:hover {
        transform: translateY(-8px);
    }
    
    .card-icon span {
        font-size: 40px; 
        color: #333; 
        display: block;
        margin-bottom: 15px;
    }
    
    .card-icon-title {
        font-size: 1.3rem;
        margin-bottom: 10px;
        color: #333;
    }
    
    .card-icon-text {
        font-size: 1rem;
        color: #666;
    }
    
    @media (max-width: 768px) {
        .icon-row {
            grid-template-columns: 1fr; 
        }
        
    }
footer {
    text-align: center;
    padding: 20px;
    background: #c2ad7ae6;
    color: white;
    margin-top: 40px;
}
.language-dropdown {
    position: relative;
    cursor: pointer;
}

.language-toggle {
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

.language-menu {
    display: none;
    list-style: none;
    padding: 5px 0;
    border-radius: 5px;
}

.language-menu li {
    padding: 5px 15px;
    cursor: pointer;
}


.language-dropdown.active .language-menu {
    display: block;
}
