$primary-color: #5373FD;
$secondary-color: #333;
$text-light: #fff;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
  }
body {
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 400;
   line-height: 26px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .bhromaon {
   padding: 277px 0 142px;
   background: url(../img/head.jpg)/cover/no-repeat;
   height: calc(100vh - 80px);
  
   .bhromaon-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
   h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    color: $text-light;
    margin-bottom: 11px;
  }
  .bhromaon-subtitle {
    color: $text-light;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 6.82px;
    text-align: center;
    margin-bottom: 50px;
  }
  .bhromaon-search {
    display: flex;
    justify-content: space-between; 
    width: 656px;
    height: 63px;
    padding: 5px 4px;
    background-color: $text-light;
    margin: 0 auto;
    }
    .bhromaon-input {
      width: 503px;
      height: 100%;
      padding: 19px;
      text-align: center;
      outline: none;
      border: none; 
    }
    .bhromaon-btn {
      display: flex;
      column-gap: 10px;
      align-items: center;
      justify-content: center;
      background: $primary-color;
      padding: 20px 20px 13px;
      color: $text-light;
      border: none;
      font-weight: 400;
      font-size: .8rem;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      cursor: pointer;
      font-family: Aleo, serif;
      line-height: 20px;
    }
  }
  .scroll-down {
    position: relative;
    font-weight: 400;
    font-size: .8rem;
    color: $text-light;
    letter-spacing: 2.8px;
    margin-top: 107px;
    background: transparent;
    transition: color 0.3s ease, transform 0.3s ease;
    .scroll-down-arrow {
       position: absolute;
       bottom: -25px;
       left: 45px;
    }
  }
  .scroll-down:hover {
   transform: scale(1.5);
  }
  main {
    position: relative; 
  }
  header {
    background: $primary-color;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
   
    .header-nav {
       padding: 32px 0 25px;
       display: flex;
       justify-content: space-between;
    }
    .header-links {
      display: flex;
      gap: 20px; 
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .header-links.hidden {
      transform: translateY(-200%);
      opacity: 0;
      pointer-events: none;
    }
    .hamburger {
      display: none;
      flex-direction: column;
      gap: 5px;
      height: 5px;
      background: none;
      border: none;
      cursor: pointer;
      margin-right: 10px;
    }
    .hamburger span {
      color: white;
      display: block;
      width: 25px;
      height: 1px;
      background: $text-light;
      border-radius: 2px;
    }
    .header-title {
      font-weight: 700;
      font-size: 1.5rem;
      color: $text-light;
    }
    .header-item {
      font-weight: 400;
      font-size: .8rem;
      line-height: 20px; 
      letter-spacing: 1.4px;
      text-transform: uppercase;
      transition: color 0.3s ease, transform 0.3s ease;
      color: $text-light;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      font-family: Aleo, serif;
    }
    .header-item::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px; 
      background-color: $text-light; 
      transition: width 0.3s ease;
       }
    .header-item:hover::after {
      width: 100%;
      }
    .header-item:hover {
      color: #FFD700; 
      transform: scale(1.2);
    }
  }
.choose {
  background: url(../img/WhyChoose.png)/cover/no-repeat;
  
    .choose-content {
    display: flex;
    padding:  118px 0;
    column-gap: 100px;}

    .choose-us {
      display: flex;
      flex-direction: column; 
      row-gap: 50px;
      justify-content: center ;
    }
    .choose-title {
      font-weight: 400;
      font-size: 2.25rem;
      line-height: 26px;
      color: $text-light;
      font-family: Aleo, serif;
    }
    .choose-text {
      font-weight: 400;
      font-size: 1rem;
      letter-spacing: 1.6px;
      color: $text-light;
    }
    .choose-image {
      width: 100%;
      
    }
   .choose-btn {
    width: 228px;
    height: 63px;
    background: linear-gradient(90deg, #5373FD, #3b5dc5, #1f3384); 
    background-size: 300%; 
    font-size: 1rem;
    color: white;
    font-family: Aleo, serif;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    animation: gradient-move 3s infinite linear; 
    transition: color 0.3s ease, box-shadow 0.3s ease;
    }
    @keyframes gradient-move {
    0% {
        background-position: 0% 50%;
      }
    100% {
        background-position: 100% 50%;
      }
    }
  .choose-btn:hover {
    color: #fff;
    box-shadow: 0 4px 15px rgba(83, 115, 253, 0.5);
  }
    .choose-img1 {
      position: relative;
      left: 50px;
      margin-bottom: 16px;
    }
    .choose-img2 {
      position: relative;
      left: 124px;
    }
  }
.icon {
  background: $secondary-color;
  padding: 100px 0;
  .icon-row {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    row-gap: 20px;
    width: 364px;
  } 
  .icon-search  {
    font-size: 40px;
    color: $primary-color;
  }
  .icon-ok-circled2 {
    font-size: 40px;
    color: #FF6363;
  }
  .icon-thumbs-up{
    font-size: 40px;
    color: #00A2FF;
  }
  .card-icon-title {
    font-size: 2.25rem;
    color: $text-light;
    font-family: Aleo, serif;
    font-weight: 400;
  }
  .icon-row {
  display: flex;
  align-items: center;
  position: relative;
  }
  .card-icon span {
  display: flex;
  font-size: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  background-color: $secondary-color;
  z-index: 999;
  }
  .card-icon:not(:first-child)::before {
  content: '';
  position: absolute;
  top: -55px; 
  left: -221px; 
  width: 420px; 
  height: 300px; 
  border-top: 2px dashed #aaa; 
  border-radius: 50%; 
  z-index: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0% 20%);
  }
}
.spain {
  background: url(../img/apartmen.png)/cover/no-repeat;
  padding: 227px 0 100px;
  position: relative;
}
.spain-card {
  width: 649px;
  padding: 44px 32px;
  display: flex;
  flex-direction: column;
  background: #232323;
  opacity: 0; 
  transform: translateY(50px); 
  animation: slideIn 1.3s ease-out forwards; 
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px); 
  }
  100% {
    opacity: .9;
    transform: translateY(0); 
  }
}
.spain-card-title {
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: $text-light;
  margin: 23px 0 13px;
}

.spain-card-subtitle {
  letter-spacing: 1.5px;
  font-weight: 400;
  line-height: 26px;
  font-size: 1.25rem;
  color: $text-light;
}

.spain-card-text {
  font-weight: 400;
  line-height: 26px;
  font-size: 1.25rem;
  color: $text-light;
}

.spain-btn {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: $text-light;
  background: $primary-color;
  border: none;
  cursor: pointer;
  width: 228px;
  height: 63px;
  padding: 20px 35px;
  margin-top: 24px;
}
.spain2 {
  background: url(../img/spain.png)/cover/no-repeat;
.spain-block {
  display: flex;
  justify-content: right;
}
}
.tourist {
  background: url(../img/BGfooter.png)/cover/no-repeat;
  padding: 128px  0 200px;
  .tourist-content {
    display: flex;
    flex-direction: column;
    row-gap: 90px;
  }
  .tourist-block {
    display: flex;
    background: $secondary-color;
    flex-shrink: 0;
  }
  .tourist-title {
    text-align: center;
    font-family: Aleo;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    color: $text-light;
  }
  .tourist-text {
    padding: 50px 25px 39px 62px;
    color: $text-light;
  }
  .tourist-text-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    text-transform: uppercase;
  }
  blockquote {
    font-weight: 300;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 1.6px;
    color: $text-light;
  }
  .icon-quote-left {
    width: 20px;
    height: 20px;
    color: $primary-color;
    flex-shrink: 0;
    position: relative;
    left: -5px;
    padding: 10px 6px 20px 0;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
  padding: 122px 0 23px;

  .footer-title {
    color: $text-light;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .footer-subtitle {
    color: $text-light;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.6px;
  }
  .footer-links {
    display: flex;
    margin-top: 20px;
    margin-bottom: 80px;
    column-gap: 32px;
  }
  .footer-links a {
    color: $text-light;
    font-size: 32px;
  }
  .footer-links a {
    color: $text-light;
    font-size: 32px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-links a:hover {
    color: $primary-color; 
    transform: scale(1.5); 
}
}

@media (max-width: 1024px) {
  .choose {
    .choose-us {
      margin-left: 20px;
    }
    .choose-content {
      column-gap: 0;
    }
    .choose-img2 {
      left: 60px;
    }
  }
}

@media (max-width: 768px) {
  .choose {
    .choose-content {
      padding: 0;
    }
    .choose-us {
      margin-top: 32px;
      align-items: center;
      order: 2;
    }
    .choose-img1 {
      left: 0;
      margin-bottom: 0;
      margin-top: 60px;
    }
    .choose-img2 {
      left: 0;
      margin-left: 24px;
    }
  }
  .icon .card-icon {
    margin-bottom: 60px;
  }
  .card-icon:not(:first-child)::before {
    display: none;
  }
  .bhromaon h1 {
    font-size: 2.5rem;
  }

  .bhromaon-search {
    flex-direction: column;
    gap: 10px;
  }

  .choose-content {
    flex-direction: column;
    text-align: center;
  }

  .choose-us {
    text-align: center;
  }

  .choose-image img {
    max-width: 80%;
    margin: 0 auto;
  }

  .icon-row {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .spain-card {
    max-width: 90%;
  }

  .footer-links {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .header-links {
    

  }
  .tourist-img img {
    width: 100%;
  }
  .tourist {
    .tourist-block {
      flex-direction: column;
    }
  }
  .bhromaon {
    .bhromaon-search {
      width: 80%;
    }
    .bhromaon-input {
      width: 80%;
    }
  }
  .bhromaon h1 {
    font-size: 2rem;
  }

  .bhromaon-subtitle {
    font-size: 1rem;
  }

  .choose-title {
    font-size: 1.8rem;
  }

  .choose-text {
    font-size: 0.9rem;
  }

  .choose-btn {
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 60px
  }

  .spain-card {
    padding: 15px;
  }

  .tourist-title {
    font-size: 1.5rem;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .header-links {
      position: absolute;
      top: 80px;
      right: 0;
      width: 100%;
      background: $text-light; 
      flex-direction: column;
      gap: 15px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(-200%);
      opacity: 0;
      pointer-events: none;
  }

  .header-links.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
      background-color: $primary-color;
  }

  header {
    .header-title {
      margin-left: 110px;
    }
    .hamburger {
      display: block;
      
      span {
        margin-bottom: 3px;
      }
    }
    
  }
  .footer {
    padding: 160px 0 70px;
    margin-top: 80px;
    }
    .footer-links {
      flex-direction: row;
    }
  
}
