*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input {
  border: none;
  background-color: transparent;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Semibold"), local("Lato-Semibold"), url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"), local("Playfair-Display"), url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display Regular"), local("Playfair-Display Regular"), url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.btn {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  transition: all 0.5s;
}

.btn:after {
  display: block;
  width: calc(100% - 2px);
  height: 13px;
  content: "";
  position: relative;
  top: -8px;
  left: 10px;
}

.color-btn {
  color: #F1897B;
}

.color-btn:after {
  background-color: #F1897B;
  opacity: 0.3;
}

.color-btn:hover {
  color: #E54F3A;
}

.color-btn:hover:after {
  background-color: #E54F3A;
  opacity: 0.3;
}

.big-color-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 33px 89px;
  border: 1px solid #E4E4E4;
}

.big-color-btn:hover {
  border: 1px solid #E64F3A;
}

.title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  color: #262A3F;
}

.hero__title {
  font-size: 44px;
  line-height: 1.18;
}

.section__title {
  font-size: 40px;
  line-height: 1.2;
}

.title__i-text {
  font-style: italic;
}

.title__color-text {
  color: #85BBB1;
}

.text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.44;
  color: #262A3F;
  opacity: 0.8;
}

body {
  color: #262A3F;
  font-family: "Lato", sans-serif;
}

.main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(183.11deg, rgba(255, 255, 255, 0) 347.2px, #FFFFFF 470px), url("/exam3/assets/img/first-screen-image.png");
  background-repeat: no-repeat no-repeat;
  background-position-y: 441px, 0;
  background-size: 100%, 100%, 743px, contain;
  position: relative;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

body.dark {
  background-color: #161926;
  color: rgba(255, 255, 255, 0.9);
}

body.dark .title,
body.dark .section__title {
  color: #fff;
}

body.dark .text {
  color: rgba(255, 255, 255, 0.9);
}

body.dark .title__color-text {
  color: #689FF2;
}

body.dark .color-btn {
  color: #53F3CD;
}

body.dark .color-btn:after {
  background-color: #53F3CD;
}

body.dark .color-btn:hover {
  color: #02E0AB;
}

body.dark .color-btn:hover:after {
  background-color: #02E0AB;
}

body.dark .big-color-btn {
  border: 1px solid #515773;
}

body.dark .big-color-btn:hover {
  border: 1px solid #02E0AB;
}

body.dark .header .nav__link:hover {
  -webkit-text-decoration-color: rgba(83, 243, 206, 0.3450980392);
  text-decoration-color: rgba(83, 243, 206, 0.3450980392);
}

body.dark .header .sun-icon path {
  stroke: #fff;
}

body.dark .header .moon-icon path {
  fill: #689FF2;
}

body.dark .main {
  background-image: linear-gradient(183.11deg, rgba(22, 25, 38, 0) 347.2px, #161926 470px), url("/exam3/assets/img/first-screen-image-dark.png");
  background-repeat: no-repeat no-repeat;
  background-position-y: 441px, 0;
  background-size: 100%, 100%, 743px, contain;
}

body.dark .info__card {
  background-color: rgba(22, 25, 38, 0.9);
}

body.dark .info .list-item_num {
  color: #fff;
}

body.dark .benefits .benefit {
  border-top: 1px solid #515773;
}

body.dark .quote__text:before {
  content: url("../img/quote-icon.webp");
}

body.dark .video .play-img__icon circle {
  fill: rgba(104, 159, 242, 0.3);
}

body.dark .video .play-img__icon path {
  fill: #689FF2;
}

body.dark .video .play-img__icon:hover circle {
  fill: #689FF2;
}

body.dark .video .play-img__icon:hover path {
  fill: rgba(110, 121, 132, 0.9);
}

body.dark .promisies__content {
  background-color: rgba(22, 25, 38, 0.9);
}

body.dark .contact__form {
  border-top: 1px solid #515773;
}

body.dark .contact .contact__input {
  border-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9);
}

body.dark .contact .contact__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

body.dark .contact .contact__input::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

body.dark .footer__container {
  border-top: 1px solid #515773;
}

body.dark .footer__copy,
body.dark .footer__text {
  color: #fff;
}

.burger {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}

.burger span {
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;
}

.burger span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.burger span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.active span:nth-of-type(1) {
  display: none;
}

.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.header {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  padding: 24px 0;
  max-width: 1440px;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}

.header__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__logo {
  margin-right: 30px;
  width: 107px;
  height: 32px;
}

.header .logo__img {
  display: block;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.08em;
}

.header__nav .nav__link {
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
  transition: -webkit-text-decoration 0.8s;
  transition: text-decoration 0.8s;
  transition: text-decoration 0.8s, -webkit-text-decoration 0.8s;
}

.header__nav .nav__link:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  -webkit-text-decoration-color: rgba(241, 137, 123, 0.3);
  text-decoration-color: rgba(241, 137, 123, 0.3);
  text-decoration-thickness: 3px;
}

.header__burger {
  display: none;
}

.header .change-theme-btn {
  height: 32px;
  width: 60px;
  border-radius: 8px;
  border: 1px solid rgba(149, 147, 147, 0.0980392157);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header .change-theme-btn__img {
  height: 24px;
}

.header .change-theme-btn .sun-img {
  width: 24px;
}

.header .change-theme-btn .moon-img {
  width: 18px;
  align-self: flex-end;
}

.header .change-theme-btn .sun-icon,
.header .change-theme-btn .moon-icon {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  overflow: hidden;
}

.header .change-theme-btn .sun-icon path {
  stroke: #85BBB1;
}

.header .change-theme-btn .moon-icon path {
  fill: #fff;
}

.hero {
  padding-top: 260px;
  padding-bottom: 143px;
}

.hero__content {
  max-width: 523px;
}

.hero .hero__subtitle {
  margin-top: 20px;
  margin-bottom: 50px;
}

.info .wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.info__container {
  position: relative;
  z-index: 2;
  right: 102px;
  padding: 45px 0;
  background-image: linear-gradient(359.55deg, rgba(33, 36, 54, 0.5) 0.64%, rgba(33, 36, 54, 0) 94.04%), url("/exam3/assets/img/statistic-image.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 49%, 49%, 100%, 100%;
}

.info__card {
  padding: 45px 0;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 770px;
  width: 100%;
  margin-left: auto;
}

.info .card__wrp {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 60px;
}

.info .info__card-left {
  padding-left: 45px;
}

.info .info__list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.info .info__list-item:last-child .list-item__text:after {
  display: none;
}

.info .list-item_s {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  color: #E4E4E4;
  margin-right: 10px;
}

.info .list-item_num {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 1.06;
  color: #262A3F;
}

.info .list-item__text {
  margin-top: 12px;
  text-align: center;
  position: relative;
}

.info .list-item__text:after {
  position: absolute;
  top: 230%;
  left: calc(50% - 50px);
  content: "";
  width: 100px;
  height: 1px;
  background-color: #85BBB1;
}

.info .info__text {
  max-width: 400px;
}

.info .info__text + .info__text {
  margin-top: 40px;
}

.info .info__link {
  margin-top: 50px;
}

.benefits {
  margin-top: 127px;
}

.benefits__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(250px, 1fr));
  gap: 60px 30px;
  align-items: flex-start;
}

.benefits .benefit {
  max-width: 570px;
  padding: 50px 35px 22px;
  border-top: 1px solid #E4E4E4;
}

.benefits .benefit__title {
  margin-bottom: 30px;
}

.quote {
  margin-top: 120px;
}

.quote__container {
  background: linear-gradient(0deg, rgba(25, 28, 41, 0.84), rgba(25, 28, 41, 0.84)), url("../img/quote-background.webp") no-repeat center/cover;
  padding: 100px 5px 100px 160px;
}

.quote__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.44;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  max-width: 710px;
  margin-bottom: 40px;
  position: relative;
}

.quote__text:before {
  display: block;
  width: 102px;
  height: 84px;
  content: url("../img/quote-icon-pink.webp");
  position: absolute;
  top: -30px;
  left: -60px;
}

.quote__author {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}

.video {
  margin-top: 120px;
}

.video__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.video__frame {
  max-width: 970px;
  width: 100%;
  height: 601px;
  padding: 31px 70px 31px 30px;
  border: 1px solid #E4E4E4;
  border-radius: 32px;
  padding: 31px 70px 31px 30px;
}

.video .frame {
  position: relative;
}

.video .frame:before {
  width: 13px;
  height: 13px;
  display: block;
  content: "";
  position: absolute;
  border: 1px solid #E4E4E4;
  border-radius: 32px;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

.video .frame:after {
  display: block;
  content: "";
  position: absolute;
  border: 1px solid #E4E4E4;
  border-radius: 32px;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% - 35px - 14px);
  width: 35px;
  height: 35px;
}

.video .frame__video {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
}

.video .frame__img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.video .frame__play-img {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.video .frame .play-img__icon {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.video .frame .play-img__icon circle {
  transition: all 0.5s;
  fill: #586291;
}

.video .frame .play-img__icon path {
  transition: all 0.5s;
  fill: #262A3F;
}

.video .frame .play-img__icon:hover circle {
  fill: #262A3F;
}

.video .frame .play-img__icon:hover path {
  fill: #586291;
}

.video .frame .video__box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.video .video__text-content {
  max-width: 897px;
}

.video .video__title {
  margin-bottom: 20px;
}

.promisies {
  margin-top: 120px;
}

.promisies__container {
  padding: 45px 0;
  background: linear-gradient(0deg, rgba(25, 28, 41, 0.84), rgba(25, 28, 41, 0.84)), url("/exam3/assets/img/features-background-image.png");
  background-repeat: repeat-y;
  background-position: left;
  background-size: 51.3%, 51.3%, 100%, 100%;
}

.promisies__content {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 770px;
  width: 100%;
  margin-left: auto;
  padding: 75px 0 75px 70px;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 70px 100px;
}

.promisies .promise {
  max-width: 300px;
  width: 100%;
  align-self: flex-start;
  margin-left: auto;
}

.promisies .promise__title {
  font-size: 24px;
  line-height: 2;
  margin-bottom: 15px;
}

.reviews {
  margin-top: 120px;
}

.reviews__title {
  margin-bottom: 20px;
}

.reviews__description {
  max-width: 400px;
  margin-bottom: 50px;
}

.reviews__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.reviews .review {
  max-width: 370px;
  width: 100%;
  height: 340px;
  position: relative;
}

.reviews .review__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.reviews .review__content {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: rgba(25, 28, 41, 0.6);
  padding: 30px 40px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.reviews .review__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  opacity: 0.8;
}

.reviews .review_auth {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.08em;
}

.contact {
  margin-top: 100px;
}

.contact__form {
  padding-top: 60px;
  border-top: 1px solid #E4E4E4;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.contact .form__left {
  align-self: flex-start;
}

.contact .form__left .form__title {
  margin-bottom: 29px;
}

.contact .form__left .form__subtitle {
  max-width: 470px;
}

.contact .form__right {
  align-self: center;
  max-width: 470px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 40px;
}

.contact .form__right .contact__input {
  border-bottom: 1px solid rgba(38, 42, 63, 0.1);
  height: 32px;
  width: 100%;
  padding: 10px;
  outline: none;
  padding: 5px;
}

.contact .form__right .contact__input::-moz-placeholder {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: 0.08em;
  color: #262A3F;
  opacity: 0.5;
}

.contact .form__right .contact__input::placeholder {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: 0.08em;
  color: #262A3F;
  opacity: 0.5;
}

.contact .form__right .contact__input:focus {
  border: 1px solid rgba(38, 42, 63, 0.3803921569);
}

.contact .form__right .contact__input:focus:invalid {
  border: 1px solid rgba(255, 0, 0, 0.338);
}

.contact .form__right .contact__input:focus:invalid:required {
  background-color: rgba(255, 192, 203, 0.256);
}

.contact .form__right .contact__input:focus:valid {
  border: 1px solid rgba(0, 0, 0, 0.442);
  background-color: rgba(121, 130, 177, 0.094);
}

.contact .form__right .contact__btn {
  align-self: start;
}

.footer {
  margin-top: 100px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid #E4E4E4;
  gap: 40px;
}

.footer__item {
  font-family: "Lato";
  font-style: normal;
  color: #262A3F;
  font-size: 14px;
}

.footer__item .footer__copy + .footer__text {
  margin-left: 12px;
}

.footer__item .footer__text + .footer__text {
  margin-left: 32px;
}

.footer__copy {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.86;
  color: #262A3F;
  opacity: 0.6;
}

.footer__text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.08em;
}

@media (max-width: 1170px) {
  .main {
    background-image: none;
  }

  .container {
    padding: 0 20px;
  }

  .hero {
    background-image: url("/exam3/assets/img/first-screen-image.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  .info__container {
    padding-top: 0;
    padding-bottom: 0;
    left: 0;
    top: 0;
    background-position: top;
    background-size: cover;
  }

  .info__card {
    margin: 0 auto;
    max-width: none;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1155px) {
  body.dark .main {
    background-image: none;
  }

  body.dark .hero {
    background-image: url("/exam3/assets/img/first-screen-image-dark.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .contact .form__left {
    align-self: center;
    max-width: 270px;
  }

  .contact .form__title {
    font-size: 26px;
  }

  .contact .form__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 840px) {
  .big-color-btn {
    padding: 26px 70px;
  }

  .info .card__wrp {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info .info__list {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 20px;
  }

  .info .list-item_s {
    font-size: 18px;
  }

  .info .list-item_num {
    font-size: 42px;
  }

  .info .list-item__text {
    font-size: 14px;
  }

  .info .list-item__text::after {
    width: 1px;
    height: 80px;
    top: -70px;
    left: 110%;
  }

  .info .info__card-left,
.info .info__card-right {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 32px;
    line-height: 1.18;
  }

  .section__title {
    font-size: 28px;
    line-height: 1.2;
  }

  .header {
    transition: all 0.8s;
  }

  .header__nav {
    width: 100%;
    position: absolute;
    top: 80px;
    left: 15px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-size: 18px;
    gap: 25px;
    transition: all 1s;
  }

  .header .hide {
    color: transparent;
    scale: 0;
    left: 100%;
  }

  .header__burger {
    display: block;
  }

  .header__logo {
    width: 80px;
    height: 24px;
  }

  .hero__content {
    max-width: 430px;
  }

  .benefits {
    margin-top: 40px;
  }

  .benefits__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(100px, 1fr));
    gap: 30px;
  }

  .benefits .benefit {
    align-self: center;
    margin: 0;
  }

  .quote {
    background: linear-gradient(0deg, rgba(25, 28, 41, 0.84), rgba(25, 28, 41, 0.84)), url("/exam3/assets/img/quote-background.png") no-repeat center/cover;
  }

  .quote__container {
    padding: 50px 5px 50px 80px;
    background: none;
  }

  .quote__text {
    font-size: 22px;
  }

  .quote__author {
    font-size: 16px;
  }

  .video .frame {
    height: 400px;
  }

  .video .frame__play-img {
    width: 80px;
    height: 80px;
  }

  .promisies {
    background: linear-gradient(0deg, rgba(25, 28, 41, 0.84), rgba(25, 28, 41, 0.84)), url("/exam3/assets/img/features-background-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .promisies__container {
    background: none;
  }

  .promisies__content {
    gap: 50px 20px;
  }

  .promisies .promise__btn {
    align-self: end;
  }

  .reviews .review {
    max-width: 400px;
    height: 370px;
  }

  .contact__form {
    flex-direction: column;
    gap: 50px;
  }

  .contact .form__left {
    align-self: center;
    max-width: none;
  }

  .contact .form__subtitle {
    font-size: 18px;
  }

  .contact {
    margin-top: 50px;
  }

  .footer__container {
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (max-width: 640px) {
  .promisies__content {
    grid-template: repeat(4, 1fr)/1fr;
    padding-left: 15px;
  }

  .promisies .promise {
    max-width: none;
  }
}
@media (max-width: 480px) {
  .info .info__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .info .list-item__text::after {
    top: 230%;
    left: calc(50% - 50px);
    width: 100px;
    height: 1px;
  }

  .info .info__card-right {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 425px) {
  .quote {
    margin-top: 60px;
  }

  .video {
    margin-top: 60px;
  }

  .video .frame {
    height: 250px;
  }

  .video .frame__video {
    border-radius: 32px;
  }

  .video .frame__play-img {
    width: 50px;
    height: 50px;
  }

  .promisies {
    margin-top: 60px;
  }

  .reviews {
    margin-top: 60px;
  }
}